<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.mvvmcross.testproject</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>TestProject</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSLocationUsageDescription</key>
	<string>Need you location.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need you location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need you location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>CFBundleName</key>
	<string>com.xamarin.traditional.standard.samples.oauth.providers.ios</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mvvmcross.testproject</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL Type 1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.70862177039-jm46ae5e77822hk8qllegch1fqler0a4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document Type 1</string>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
