<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.4.1" targetFramework="xamarinios10" />
  <package id="MonoTouch.SlideoutNavigation" version="1.0.1" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="6.2.2" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="5.7.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Color" version="6.2.2" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Location" version="6.2.2" targetFramework="xamarinios10" />
  <package id="sameerIOTApps.Plugin.SecureStorage" version="2.5.0" targetFramework="xamarinios10" />
  <package id="SidebarNavigation" version="1.9.4" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="Xam.iOS.Fab" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Maps" version="2.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.Maps.Utils" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.SidePanels" version="2.0.0.3" targetFramework="xamarinios10" />
</packages>